# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

## file_explorer
# Miscellaneous
/file_explorer/*.class
/file_explorer/*.log
/file_explorer/*.pyc
/file_explorer/*.swp
/file_explorer/.DS_Store
/file_explorer/.atom/
/file_explorer/.buildlog/
/file_explorer/.history
/file_explorer/.svn/
/file_explorer/migrate_working_dir/

# IntelliJ related
/file_explorer/*.iml
/file_explorer/*.ipr
/file_explorer/*.iws
/file_explorer/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/file_explorer//pubspec.lock
/file_explorer/**/doc/api/
/file_explorer/.dart_tool/
/file_explorer/.packages
/file_explorer/build/